.page__main {
  display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.image__main {
  width: 600px;
}

.title__main {
  margin-bottom: 20px;
  padding-bottom: 20px;
  font-size: 50px;
  font-weight: bold;
}

.text__main {
  margin-bottom: 10px;
  padding-bottom: 20px;
  font-size: 20px;
  opacity: 0.6;
}

.link__main {
  color: #4481c3;
  font-size: 24px;
  padding: 12px 30px;
  cursor: pointer;
}
